body {

}

.code {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background: #292b36;
  font-family: "Droid Sans Mono", monospace;
  width: 100%;
  height: 100%;
}

h1 {
  position: relative;
  font-size: 3vw;
  color: white;
}
h1 ::after {
  content: "";
  height: 140%;
  width: 1px;
  background: transparent;
  position: absolute;
  display: block;
  right: -1vw;
  top: -20%;
  animation: blink 1.2s linear infinite;
}

h2 {
  margin-top: 10%;
  font-size: 2vw;
  color: #59b75c;
}

@keyframes blink {
  49% {
    background: transparent;
  }

  50% {
    background: white;
  }

  100% {
    background: white;
  }
}

.clear-button{
  width: 100px;
  font-size: 20px;
}

.input-box-task{
  padding: 5px 20px;
  border-radius: 5px;
}
